.vg__home-heading_grand {
   font-size:6rem;
   text-align:center;
   margin:0;
   margin-top:-20px;
}
.vg__home-heading_grand span{
    background: linear-gradient(
        126deg
        , #14ef64, #3dcfff, #3d7aff, #ff3db0);
            background-size: 300% auto;
            -webkit-background-clip: text;
            background-clip: text;
            width:500px;
            display: inline-block;
            -webkit-text-fill-color: transparent;
            text-fill-color: transparent;
            animation: grandTextAnimation 4s ease infinite;
}
.vg__home-info{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width:500px;
flex-direction: column;
}
.vg__home-infoavatar{
    width:150px;
    --angle:0deg;
    margin-bottom:10px;
    overflow: hidden;
    position:relative;
    height:150px;
    min-height:150px;
}
.vg__home-infoavatar img{
    width: 100%;
    z-index: 20;
    border-radius: 100px;
    position: relative;
    height:100%;
    min-height: 100%;
}
.vg__home-info p{
    font-size: 1.2em;
    text-align: center;
}
@keyframes grandTextAnimation {
    0%{background-position:0% 0%}
    50%{background-position:93% 100%}
    100%{background-position:0% 0%}
}
.vg__home-div_centered{
    width: 100%;
    height: calc(100vh - 220px);
    top:0;
    flex-direction: column;
    left:0;
    display:flex;
    align-items: center;
    justify-content: center;
}
.vg__home-infosocial{
    margin-top:10px;
    display:flex;
    align-items: center;
}
.vg__home-infosocial div{
    font-size: 1.8em;
    margin:0 5px;
}

.vg__home-m_scroll_arrows
{
  display: block;
  width: 15px;
  height: 15px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right:2.5px solid #000;
  border-bottom: 2.5px solid #000;
  margin: 0 0 3px 4px;
  
  width: 18px;
  height: 18px;
}

@-webkit-keyframes mouse-scroll {

    0%   { opacity: 0;}
    50%  { opacity: .5;}
    100% { opacity: 1;}
  }
  @-moz-keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  @-o-keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  @keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  
.vg__home-doi, .vg__home-trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}


.vg__home-doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -4px;
}

.vg__home-trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -12px;
}
.vg__home-scrolldown{
display: flex;
justify-content:center;
align-items:center;
flex-direction: column;
position:absolute;
bottom:calc(30px + 100px);
left:50%;
transform:translateX(-50%);
}

.vg__home-scrolldown p{
    font-size:1.1rem;
}
.vg__home-card{
    width:300px;
    border:2px solid rgba(224, 224, 224, 0.637);
    transition:box-shadow .3s,border-color .3s;
    padding:20px;
    border-radius:15px;
    margin-right:10px;
}
.vg__home-card:hover, .vg__home-card:focus{
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.11);
}
.vg__home-card p:first-of-type{
    font-size:1.5rem;
    font-family:'EuclidCircularA SemiBold';
}
.vg__home-card img{
    width:100%;
}
.vg__home-dribbble{
    position:relative;
    overflow:hidden;
    margin-top:10px;
    width:fit-content;
}
.vg__home-dribbble:after{
    content:'';
    height:1.5px;
    width:100%;
    position:absolute;
    bottom:1px;
    background:#ea4c89;
    left:-100%;
    transition:left .3s;
}
.vg__home-dribbble:hover::after, .vg__home-dribbble:focus::after{
    left:0;
}
.vg__home-dribbble a{
    color:#ea4c89;
}
.vg__home-cards{
    margin-top:15px;
    display:flex;
    width:100%;
}
.vg__home-aboutme p{
    margin:10px 0;
}
.vg__main{
    padding:0 70px;
    margin-top:92px;
}
.vg__home-nextpage{
    padding:0 10px;
    margin-top:50px;
}
@media(max-width:1000px){
    .vg__home-heading_grand{
        font-size:5rem;
    }
}
@media(max-width:870px){
    .vg__home-heading_grand{
        font-size:4rem;
    }
    .vg__home-info p{
        font-size:1em;
    }
}
@media(max-width:740px){
    .vg__home-heading_grand{
        font-size:3.5rem;
    }
}
@media(max-width:600px){
    .vg__main{
        padding:0 20px;
    }
    .vg__home-info{
        width:auto;
    }
    .vg__home-scrolldown{
        display:none;
    }
}
@media(max-width:420px){
    .vg__home-cards{
        flex-direction: column;
    }
    .vg__home-card{
        width:100%;
    }
}
@media(max-width:350px){
    h1, .vg__home-heading_grand{
        font-size:3rem;
    }
}